<div class="main">
  <div class="container">
    <div class="title">
      <h1>Text to Speech</h1>
    </div>
    <div class="input">
      <textarea cols="35" rows="5" placeholder="Enter your text" [(ngModel)]="input"></textarea>
    </div>
    <div class="group-btns">
      <div class="btns">
        <button type="button" class="btn btn-success" (click)="playText()" style="padding: 7px; margin-right: 10px;">Play</button>
        <button type="button" class="btn btn-warning" (click)="pauseText()" style="padding: 7px; margin-right: 10px;">Pause</button>
        <button type="button" class="btn btn-success" (click)="resumeText()" style="padding: 7px; margin-right: 10px;">Resume</button>
        <button type="button" class="btn btn-danger" (click)="stopText()" style="padding: 7px;">Stop</button>
      </div>
      <div class="btns">
        <button class="btn btn-primary" (click)="download()" style="padding: 7px; margin-top: 10px;">Download</button>
      </div>
    </div>
  </div>
</div>